################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AspireJavaScript
obj
bin
.vscode
/.vs/ProjectEvaluation
